* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #8417af;
}

body {
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, 
    #c265e7,#FDE68A);
}

#head {
    background-color: var(--primary-color);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    color: whitesmoke;
}

input {
    background: linear-gradient(to right, 
    #ffee00,#85e705);
    border: 1px solid black;
    margin: 50px;
    padding: 10px;
    border-radius: 40px;
}

button {
    background: linear-gradient(to right, 
    #ffee00,#85e705);
    border: 1px solid black;
    margin: 50px;
    padding: 10px;
    border-radius: 40px;
}

p {
    font-size: x-large;
    color: white;
}